.collage {
  display: grid;
  grid-gap: 1rem;
  align-self: center;
}

.collage > img {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.fullSize {
  position: absolute;
  background-color: #000000aa;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullSize > img {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

@media all and (min-width: 768px) {
  .collage {
    --column-width: minmax(auto, calc(50vw / 3 - 2 * 5px));
    grid-template-columns: repeat(3, var(--column-width));
    padding-right: var(--small-margin);
  }
}

@media all and (max-width: 767px) {
  .collage {
    grid-template-columns: repeat(3, 1fr);
  }
}
