.infoText {
  font: var(--normal-font);
  color: var(--black);
  margin-bottom: 5rem;
}

.link {
  font: var(--normal-font);
  color: var(--black);
}

.meta {
  font: var(--meta-font);
  color: var(--grey);
}
