@import url('../_variables.css');
@import url('../_reset.css');

#body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.root {
  flex-grow: 1;
}

@media all and (min-width: 768px) {
  #body {
    flex-direction: row;
  }
  .root {
    margin: var(--large-margin);
  }
}

@media all and (max-width: 767px) {
  #body {
    flex-direction: column;
  }
  .root {
    margin: var(--small-margin);
  }
}
