---
import BaseHead from './BaseHead.astro';

import Sidebar from './Sidebar.astro';

interface Props {
	class?: string;
	title: string;
	description: string;
	slug: string;
}

const { class: className, title, description, slug } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead title={title} description={description} slug={slug} />
	<body>
		<Sidebar />
		<main class={className}><slot /></main>
		<style is:global>
			:root {
				font-size: 16px;

				--font: 'Italiana', serif;

				--meta-font: italic 500 1rem var(--font);
				--nav-font: 500 1rem var(--font);
				--normal-font: 500 1.5rem var(--font);
				--title-font: 700 2rem var(--font);

				--black: #1b1c25;
				--grey: #3d3e4a;

				--small-margin: 1.5rem;
				--large-margin: 4rem;

				--sidebar-width: 14rem;
				--mobile-breakpoint: 48rem;

				--space-5xs: clamp(0.0625rem, 0.0359rem + 0.133vi, 0.125rem);
				--space-4xs: clamp(0.125rem, 0.0984rem + 0.133vi, 0.1875rem);
				--space-3xs: clamp(0.25rem, 0.2234rem + 0.133vi, 0.3125rem);
				--space-2xs: clamp(0.4375rem, 0.3577rem + 0.3989vi, 0.625rem);
				--space-xs: clamp(0.6875rem, 0.5811rem + 0.5319vi, 0.9375rem);
				--space-s: clamp(0.9375rem, 0.8045rem + 0.6649vi, 1.25rem);
				--space-sm: clamp(1.125rem, 0.9388rem + 0.9309vi, 1.5625rem);
				--space-m: clamp(1.375rem, 1.1622rem + 1.0638vi, 1.875rem);
				--space-l: clamp(1.8125rem, 1.5199rem + 1.4628vi, 2.5rem);
				--space-xl: clamp(2.75rem, 2.3245rem + 2.1277vi, 3.75rem);
				--space-2xl: clamp(3.625rem, 3.0399rem + 2.9255vi, 5rem);
				--space-3xl: clamp(5.4375rem, 4.5598rem + 4.3883vi, 7.5rem);

				/* One-up pairs */
				--space-3xs-2xs: clamp(0.25rem, 0.0904rem + 0.7979vi, 0.625rem);
				--space-2xs-xs: clamp(0.4375rem, 0.2247rem + 1.0638vi, 0.9375rem);
				--space-xs-s: clamp(0.6875rem, 0.4481rem + 1.1968vi, 1.25rem);
				--space-s-m: clamp(0.9375rem, 0.5386rem + 1.9947vi, 1.875rem);
				--space-m-l: clamp(1.375rem, 0.8963rem + 2.3936vi, 2.5rem);
				--space-l-xl: clamp(1.8125rem, 0.988rem + 4.1223vi, 3.75rem);
				--space-xl-2xl: clamp(2.75rem, 1.7926rem + 4.7872vi, 5rem);
				--space-2xl-3xl: clamp(3.625rem, 1.9761rem + 8.2447vi, 7.5rem);

				/* Custom pairs */
				--space-3xs-s: clamp(0.4375rem, 0.0918rem + 1.7287vi, 1.25rem);
				--space-s-l: clamp(0.9375rem, 0.2726rem + 3.3245vi, 2.5rem);
				--space-s-xl: clamp(0.9375rem, -0.2593rem + 5.984vi, 3.75rem);
			}

			html {
				background: #ecdbcb;
			}

			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}

			main {
				padding: var(--padding) 0 0 0;

				overflow-y: scroll;

				a {
					color: var(--black);
					word-break: break-word;
				}

				a:visited {
					color: var(--black);
				}

				a:hover {
					color: var(--grey);
				}

				a:active {
					color: var(--black);
					text-decoration: underline;
				}
			}

			body {
				border: 0;
				list-style: none;

				background: url('/bg_pattern.png');

				width: 100vw;
				max-width: 1600px;
				min-height: 100vh;
				padding: 0 var(--padding) var(--padding);

				display: grid;
				grid-gap: var(--padding);
				grid-template-rows: auto 1fr;

				/* MOBILE-ONLY */
				--padding: var(--small-margin);
				grid-template-columns: 1fr;
			}

			@media all and (min-width: 48rem) {
				body {
					--padding: var(--large-margin);
					grid-template-columns: var(--sidebar-width) minmax(auto, 45rem);
				}
			}

		</style>
	</body>
</html>
