---
import Link from "./Link.astro";

const SPLIT_PER_LINK = /(\[[^\]]+\]\([^\)]+\))/;
const CONTAINS_LINK = /^[\[]/;
const EXTRACT_LINK = /\[([^\]]+)\]\(([^\)]+)\)/;

interface Props {
	children: string;
	class?: string;
}

const { class: className, children } = Astro.props;
---

<p class={className}>
	{
		children.split(SPLIT_PER_LINK).map((subString) => {
			if (!CONTAINS_LINK.test(subString)) return subString;

			const [_, text, link] = subString.split(EXTRACT_LINK);
			return <Link href={link!}>{text}</Link>;
		})
	}
</p>
