---
import { BASE_TITLE, Home, pages } from '../strings';
import CleanList from './CleanList.astro';
import Link from './Link.astro';
---

<header>
	<h1>
		<Link href={Home.path} class="link">{BASE_TITLE}</Link>
	</h1>
	<nav>
		<CleanList class="list">
			{
				pages.map(page => (
					<Link href={page.path} class=" link">
						{page.title}
					</Link>
				))
			}
		</CleanList>
	</nav>
</header>
<style>
	header {
		--margin-top: var(--small-margin);
		margin-top: var(--margin-top);

		color: var(--black);

		display: flex;
		flex-direction: column;
		gap: var(--small-margin);
	}

	.link {
		color: var(--black);
		text-decoration: none;
	}
	.link:hover {
		text-decoration: underline;
	}

	h1 {
		font: var(--title-font);
	}

	.list {
		display: grid;
		grid-template-columns: repeat(2, min-content);
		gap: 0.75rem 1.875rem;

		font: var(--nav-font);
	}

	@media (min-width: 48rem) {
		header {
			--margin-top: 10vh;
		}

		.list {
			grid-template-columns: 1fr;
		}
	}
</style>
