.root {
  width: 320px;
  margin-top: var(--margin-top);
}

.linkList {
  display: flex;
  justify-content: space-between;
}

.title {
  font: var(--title-font);
  color: var(--black);
  margin-bottom: var(--small-margin);
}

.navItem {
  font: var(--nav-font);
  color: var(--black);
}

.inactive {
  color: var(--grey);
}

@media all and (min-width: 768px) {
  .root {
    --margin-top: 20vh;
  }
}

@media all and (max-width: 767px) {
  .root {
    --margin-top: var(--small-margin);
  }
}
