.root {
  width: 20rem;
  max-width: calc(100vw - 2 * var(--small-margin));
}

@media all and (min-width: 1024px) {
  .root {
    margin: 20vh var(--large-margin);
  }
}

@media all and (max-width: 1023px) {
  .root {
    margin: 20vh var(--small-margin);
  }
}

@media all and (max-width: 767px) {
  .root {
    margin: var(--small-margin);
  }
}

.linkList {
  display: flex;
  justify-content: space-between;
}

.title {
  font: var(--title-font);
  color: var(--black);
  margin-bottom: var(--small-margin);
}

.navItem {
  font: var(--nav-font);
  color: var(--black);
}

.inactive {
  color: var(--grey);
}
