.root {
  flex-grow: 1;
  margin: 20vh 4rem;
  max-width: 20rem;
}

@media all and (max-width: 1024px) {
  .root {
    margin: 20vh 1.5rem;
  }
}

@media all and (max-width: 768px) {
  .root {
    margin: 1.5rem;
    flex-grow: 0;
  }
}

.linkList {
  display: flex;
  justify-content: space-between;
}

.title {
  font: var(--title-font);
  color: var(--black);
  margin-bottom: 1rem;
}

.navItem {
  font: var(--nav-font);
  color: var(--black);
}
