:global body,
:global ul,
:global p,
:global h1 {
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* a, ul, li */

:global a {
  text-decoration: none;
}

:global a:hover {
  text-decoration: underline;
}

:global a:active {
  color: var(--black);
  text-decoration: underline;
}

:global a:visited {
  color: inherit;
}
